{% extends "base.html" %}

{% block title %}主页{% endblock %}

{% block content %}
<div class="index-layout">
    <!-- 主内容区域 -->
    <section class="main-content">
        <h1>欢迎</h1>
        {% if user.is_authenticated %}
            <small>{{ user.username }}</small>
        {% endif %}
        <h2><a href="{% url 'article_create' %}">发表</a></h2>
        <ul>
            <p>共{{ articles.count }}篇文章</p>
            {% for article in articles %}
                <li>
                    <div class="article-list">
                        <a href="{% url 'article_detail' article.id %}" class="article-title">{{ article.title }}</a>
                        <div class="article-content">{{ article.content|slice:':50' }}</div>
                        <div class="article-meta">
                            作者: {{ article.author.username }} | 发布于: {{ article.created_at|date:'y-m-d H:i' }}
                        </div>
                        <div class="article-meta"><small>浏览次数: {{ article.views }}</small></div>
                        <div class="article-meta"><small>评论数:{{ article.comments.count }}</small></div>
                    </div>
                </li>
            {% empty %}
                <p>未找到匹配的文章</p>
            {% endfor %}
        </ul>
    </section>

    <!-- 右侧排行榜 -->
    <aside class="rankings">
        <h2>排行榜</h2>
        <ul>
            {% for article in popular_articles %}
                <li>
                    <a href="{% url 'article_detail' article.id %}">{{ article.title}}</a>
                    <div class="article-meta">
                        <small>浏览次数{{ article.views }}</small>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </aside>
</div>
{% endblock %}
